<ui:composition template="/WEB-INF/templates/layout-login.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="formLogin">
            <div style="width: 350px; margin: auto; margin-top: 100px;">
                <p:panel style="text-align: center; background-color: powderblue;" >
                    <f:facet name="header">Login</f:facet>
                    <h:panelGrid columns="2" width="100%" style="margin-bottom: 35px; margin-top: 35px;">
                        Email:
                        <h:inputText id="txtLogin" value="#{usuariosBean.usuarios.emailUsuario}" required="true" label="Login"
                            style="#{ component.valid ? '' : 'border-color:red;'}"/>
                       
                    </h:panelGrid>
                    <p:commandButton value="Logar" action="#{usuariosBean.login()}" ajax="false"/>
                </p:panel>
            </div>
        </h:form>
    </ui:define>
</ui:composition>