<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="metadata">
        
        <ui:param name="title" value="Relatórios"/>
        
        <style type="text/css"> 
            
            .ui-dataview-list .ui-dataview-row {
                
                border-bottom: 1px solid #A8A8A8;
                
                padding: 25px 10px;
                
                border-bottom-color: #A8A8A8;
                
            }

            .logo {
                
                width: 5%;
                
            }
            
            .detail {
                
                width: 85%;
                
                padding-left: 25px;
                
            }
            
        </style>
        
    </ui:define>
    <ui:define name="content">
        <h2 class="page-header">Relatório Check out</h2>
        <br/>
        <center>

            <h:form id="formPrincipal">

                <p:focus context="@form"/>

                <div class="box box-primary">

                    <div class="box-header with-border">

                        <div class="ui-sm-12 ui-g-6 ui-g-nopad"> 

                            <div class="ui-sm-12 ui-g-11">

                                <p:outputLabel value="Relatório"
                                               for="inptRelatorio"/>

                            </div>

                            <div class="ui-sm-12 ui-g-11" >

                                <p:selectOneMenu id="inptRelatorio"
                                                 value="#{relatorioBean.relatorio}"
                                                 required="true"
                                                 requiredMessage="O tipo de relatório não foi selecionado"
                                                 filter="true"
                                                 filterMatchMode="contains">

                                    <f:selectItems value="#{relatorioBean.tipos}"/>

                                </p:selectOneMenu>

                                <span class="help-block"> 

                                    <p:message for="inptRelatorio" /> 

                                </span> 

                                <p:commandButton id="Relatorio_01"
                                                 ajax="false"
                                                 value="Gerar Relatório"
                                                 action="#{relatorioBean.gerarRelatorio()}"
                                                 onclick="this.form.target = '_blank'" /> 

                            </div>

                        </div>

                    </div>

                </div>

            </h:form>

            

            <h:outputScript name="js/calendar.js" />
        </center>
    </ui:define>

</ui:composition>